#header .navbar .nav_box{
    width: 100%;
}
#header .navbar .nav_box .logo .btn{
    display: block;
    float: right;
    margin-right: 30px;
}
.nav_txt {
    width: 100%;
    display: none;
}
.nav_txt .nav_top li{
    float: none;
}
#header .navbar .nav_box .logo{
    width: 100%;
}
.nav_top li {
    padding-bottom: 0px;
}
/* banner 轮播*/
#lunbo{
    width: 100%;
    height: 215px;
    overflow: hidden;
    position: relative;
}
#lunbo .bg li{
    float: left;
    width: 10%;
    height: 215px;
    background: url('../imgs/u1.jpg') no-repeat center top;
    background-size: 100% 215px;
}
#lunbo .index_img_an{
    margin: 190px auto;
}
/*产品方案  */
#shopping_fn .sp_box{
    width: 80%;
}
#shopping_fn .title_bottom_content .md_sm_xs {
    width: 100%!important;
}