#shopping_fn .sp_box,#jp_al .al_box,.bgj_gz_box,.footer_box{
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* 方案间距 */
@media screen and (max-width:1191px) and (min-width:1000px){
    #shopping_fn .sp_box,#jp_al .al_box,.bgj_gz_box,.footer_box{
        width: 900px!important;
    }
}

/* 关注榜管家 */
#bgj_gz{
    background: #04091d;
    border-bottom: 2px solid #1b1e29;
    font-size: 14px;
    height: 145px;
}
.bgj_gz_box .sm{
    width: 50%;
}
.bgj_gz_box .sm .fl{
    float: left;
}
.bgj_gz_box .sm .fr{
    float: right;
}
.fr .widget{
    text-align: center;
}
.widget h3{
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 22px;
    color: #fff;
    margin-bottom: 36px;
}
.widget ul li{
    display: inline-block;
    padding: 5px 0;
    margin: 0 10px;
}
.widget ul li a{
    color: #ccc;
    font-size: 18px;
}
/* 底部 */
#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    background: #04091d;
    height: 21.6px;
}
#footer .sm{
    width: 50%;
}
#footer .sm .fl{
    float: left;
}
#footer .sm .fr{
    text-align: center;
    float: right;
}
#footer a {
    color: #757F7F;
}
#footer ul li {
    display: inline-block;
    margin-left: 15px;
}