#header .navbar .nav_box{
    width: 750px;
}
.nav_txt{
    margin-right: 0;
    margin-left: 0;
    display: block;
    height: auto;
    padding-bottom: 0;
    overflow: visible;
    padding-left: 0;
    padding-right: 0;
    float: right!important;
    line-height: 54px;
}
.nav_txt .nav_top{
    float: left;
    margin: 0;
}
.nav_txt .nav_top li{
    margin-left: 0;
}