#header .navbar .nav_box{
    width: 100%;
}
#header .navbar .nav_box .logo .btn{
    display: block;
    float: right;
    margin-right: 30px;
}
.nav_txt {
    width: 100%;
    display: none;
}
.nav_txt .nav_top li{
    float: none;
}
#header .navbar .nav_box .logo{
    width: 96%;
}
.nav_top li {
    padding-bottom: 0px;
}
/* banner 轮播*/
#lb{
    width: 100%;
    height: 215px;
    overflow: hidden;
    position: relative;
}
#lb .bg li{
    float: left;
    width: 10%;
    height: 215px;
    background: url('../imgs/u1.jpg') no-repeat center top;
    background-size: 100% 215px;
}
#lb .index_img_an{
    margin: 155px auto;
}
/* 第三部分 */
#shopping_fn .title_bottom_content .md_sm_xs{
    width: 95%;
}
#shopping_fn .sp_box,#jp_al .al_box,.bgj_gz_box,.footer_box{
    width: 80%;
}
.bgj_gz_box .sm .fr{
    float: left;
}
#bgj_gz{
    height: 236px;
}
.bgj_gz_box .sm{
    width: 110%;
}
/* 底部 */
#footer .sm .fr{
    float: left;
}
#footer{
    height: 64.8px;
}
#footer .sm{
    width: 100%;
    text-align: center;
    padding: 5px;
}